<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>

  <!--Begin of Logging section-->
  <loggingConfiguration tracingEnabled="false" defaultCategory="Log" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add name="LogListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        fileName="Log\Mento.log" formatter="LogFormatter"  footer="" header="" rollFileExistsBehavior="Increment" rollSizeKB="1024" />
    </listeners>

    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        template="{timestamp(local:yyyy-MM-dd HH:mm:ss)}{tab}{localMachine}{tab}{processId}{tab}{win32ThreadId}{tab}{message}" name="LogFormatter" />
    </formatters>

    <categorySources>
      <add switchValue="All" name="Log">
        <listeners>
          <add name="LogListener" />
        </listeners>
      </add>
    </categorySources>

    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <!--End of Logging section-->

  <appSettings>
    <add key="path" value="d:\temp"/>

    <add key="dataMapping" value="Data\DataMapping.xml"/>
    <add key="loggingSeverity" value="Debug"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
