<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="executionConfiguration" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <!--Execution section-->
  <executionConfiguration>
    <!--Allow to change when runs a test plan-->
    <add key="browser" value="Chrome" />
    <add key="language" value="CN" />
    <add key="url" value="http://112.124.56.137/v1.4.0.18/sp1/Web/" />
    <!--NOT Allowed to make any modification when runs a test plan-->
    <add key="isRefreshScriptsOnExecution" value="false" />
    <add key="publishDirectory" value="\\10.177.0.21\Resource\TestAutomation\Scripts\MentoScriptReleaseBuild" />
    <add key="executionArchiveDirectory" value="\\10.177.0.21\Resource\TestAutomation\ExecutionArchive" />
    <add key="publishServerUserName" value="apa\sesa236743" />
    <add key="publishServerPassword" value="!QAZ@WSX3edc" />
    <add key="localNetworkDrive" value="x:" /> 
    <add key="scriptDirectory" value="../Script" />
    <add key="executionDirectory" value="../Execution" />
    <add key="environmentSetupSqlScript" value="SqlScript/Setup" />
    <add key="environmentTearDownSqlScript" value="SqlScript/TearDown" />
    <add key="isCreateExpectedDataViewExcelFile" value="false" />
    <add key="isCompareExpectedDataViewExcelFile" value="true" />
    <add key="expectedDataViewExcelFileDirectory" value="D:\Amber\tmp\ExpectedData\" />
    <add key="failedDataViewExcelFileDirectory" value="D:\Amber\tmp\FailedData\" />
  </executionConfiguration>
  
  <!--Logging section-->
  <loggingConfiguration tracingEnabled="false" defaultCategory="Log" logWarningsWhenNoCategoriesMatch="false">
    <listeners>
      <add name="ScriptLogListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Log\Script.log" formatter="LogFormatter" footer="" header="" rollFileExistsBehavior="Increment" rollSizeKB="1024" />
      <add name="AppLogListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="Log\Mento.log" formatter="LogFormatter" footer="" header="" rollFileExistsBehavior="Increment" rollSizeKB="1024" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="{timestamp(local:yyyy-MM-dd HH:mm:ss)}{tab}{localMachine}{tab}{processId}{tab}{win32ThreadId}{tab}{message}" name="LogFormatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="Script">
        <listeners>
          <add name="ScriptLogListener" />
        </listeners>
      </add>
      <add switchValue="All" name="App">
        <listeners>
          <add name="AppLogListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>

  <connectionStrings>
    <add name="Jazz" connectionString="Database=REMInformation_IR_v1.0.0.17;Server=192.168.109.128;User=sa;Password=!QAZ2wsx;Pooling=true;Max Pool Size=100;Enlist=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <!--is enable sql environment setup and teardown-->
    <add key="assemblyInitializeDatabase" value="true"/>
    <!--test data api config-->
    <add key="dataMapping" value="Config\DataMapping.xml" />
    <!--web ui api config-->
    <add key="elementConfigPath" value="Config\ElementMap.xml" />
    <add key="languageResourcePath_CN" value="Resource\cn" />
    <add key="languageResourcePath_EN" value="Resource\en" />
    <add key="comboBoxItemResourcePath" value="Config\ComboBoxItemList.xml" />
    <!--log config-->
    <add key="loggingSeverity" value="Debug" />
  </appSettings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>