<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="exportLocationConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    <section name="executionConfiguration" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <exportLocationConfiguration>
    <add key="planExportDirectory" value="../Export/Plan"/>
    <add key="scriptExportDirectory" value="../Export/Script/List.xsl"/>
    <add key="resultExportDirectory" value="../Export/Result"/>
  </exportLocationConfiguration>

  <executionConfiguration>
    <!--Allow to change when runs a test plan-->
    <add key="browser" value="Chrome"/>
    <add key="language" value="CN"/>
    <add key="url" value="https://223.4.20.20/0.5/Web/"/>
    
    <!--NOT Allowed to make any modification when runs a test plan-->
    <add key="isRefreshScriptsOnExecution" value="false" />
    <add key="publishDirectory" value="\\10.177.0.21\Resource\Test\Mento"  />
    <add key="publishServerUserName" value="apa\sesa236743"  />
    <add key="publishServerPassword" value="!QAZ1234"  />
    <add key="localNetworkDrive" value="x:"  />
    <add key="scriptDirectory" value="../Script"/>
    <add key="executionDirectory" value="../Execution"/>
    <add key="environmentSetupSqlScript" value="../Script/SqlScript/Setup"/>
    <add key="environmentTearDownSqlScript" value="../Script/SqlScript/TearDown"/>    
  </executionConfiguration>
  
  <connectionStrings>
    <add name="Mento" connectionString="Database=Mento;Server=10.177.0.21;User=cnrem;Password=P@ssw0rd;Pooling=true;Max Pool Size=100;Enlist=true;" providerName="System.Data.SqlClient"/>
    <!--<add name="Mento" connectionString="Database=Mento;Server=127.0.0.1;User=sa;Password=1qaz@wsx;Pooling=true;Max Pool Size=100;Enlist=true;" providerName="System.Data.SqlClient"/>-->
    <add name="Jazz" connectionString="Database=REMInformation_Mento;Server=10.177.0.21;User=cnrem;Password=P@ssw0rd;Pooling=true;Max Pool Size=100;Enlist=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
