<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="exportLocationConfiguration" type="System.Configuration.NameValueSectionHandler"/>
    <section name="executionConfiguration" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  
  <exportLocationConfiguration>
    <add key="planExportDirectory" value="hello"/>
    <add key="scriptExportDirectory" value=" "/>
    <add key="resultExportDirectory" value=" "/>
  </exportLocationConfiguration>

  <executionConfiguration>
    <add key="browser" value="Chrome"/>
    <add key="language" value="CN"/>
    <add key="url" value="https://223.4.20.20/0.5/Web/"/>
    <add key="OS" value="WIN XP"/>
    <add key="IEVersion" value="IE8"/>
    <add key="planID" value=""/>
  </executionConfiguration>
  
  <connectionStrings>
    <add name="Mento" connectionString="Database=Mento;Server=10.177.0.21;User=cnrem;Password=P@ssw0rd;Pooling=true;Max Pool Size=100;Enlist=true;" providerName="System.Data.SqlClient"/>
    <add name="Jazz" connectionString="Database=REMInformation_Test_v0.5.0.16;Server=10.177.0.21;User=cnrem;Password=P@ssw0rd;Pooling=true;Max Pool Size=100;Enlist=true;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
